<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088829105668-f2ii6is8o0fb1bd5v8828j5upca8rpkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088829105668-f2ii6is8o0fb1bd5v8828j5upca8rpkd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1088829105668-2oekk23tnafbitnqhjmvou2n960qj9j0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCkfm9RmfpZbwEQL9XSXXHj_lHHOGHxUYY</string>
	<key>GCM_SENDER_ID</key>
	<string>1088829105668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AJP.Recipes</string>
	<key>PROJECT_ID</key>
	<string>recipes-apierce</string>
	<key>STORAGE_BUCKET</key>
	<string>recipes-apierce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088829105668:ios:482b9a8f26492e33b87751</string>
	<key>DATABASE_URL</key>
	<string>https://recipes-apierce.firebaseio.com</string>
</dict>
</plist>